/*
Creator: Keely Brennan
Date created: 12/21/2019
Date last modified: 12/21/2019

home page styling
*/

/* jumbotron override */
#welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/taco-home.jpg");
    height: 80vh;
    background-position: center center;  
    padding: 7rem 3rem;
}

#tagline {
    margin: 4vw;
}

.h1-main {
    margin: 10%;
    font-size: 80px;
}

h2 {
    font-size: 2vw;
}

.p-description {
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: 60px;
}

.p-description-sub {
    margin: 0px 10px;
    font-size: 30px;
}

/* carousel styling */
#homeCarousel{
    padding: 5px 2vh;
}

.carousel-caption {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    text-align: left;
    color: white;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: -5px;
    padding: 5px 12px;
}
.h5-carousel {
    font-size: 2.4vw; 
    font-size: 24px;
    line-height: 1;
}
.p-carousel{
    font-size: 1.8vw;
    font-size: 14px;
    line-height: 1;
}

@media only screen and (max-width: 600px) {
    .h1-main {
        font-size: 60px;
    }
    .p-description {
        font-size: 6vw;
    }
    .p-description-sub {
        font-size: 4vw;
    }
  }
  